h5{

    text-transform: capitalize;
}

.fav-btn{
    width: 100%;
    margin: 2px;
    padding: 10px;
    background-color: #9a2cc9;
    border-radius: 2px;
    color: white;
    text-transform: capitalize;
    border: none;
}
.fav-btn:hover{

    background-color:#8e44ad;
  
}